<h1>Add sales</h1>

<form action="/sales/add" method="POST">

	<div>
		<label for="date">Date</label>
		<input type="number/text" step="any" name="date" value="{{date}}">
	</div>

	<div class="product">
		<label for="product">Product</label>

		<select class="product" name="products_id">
			{{#products}}
				<option value="{{id}}">{{products}}</option>
			{{/products}}
		</select>
	</div>

	<div>
		<label for="price">Amount</label>
		<input type="number/text" step="any" name="price" value="R{{price}}">
	</div>

	<div>
		<label for="quantity">Quantity</label>
		<input type="number" step="any" name="quantity" value="{{quantity}}">
	</div>

	<input type="submit">
</form>
