<h1>Edit product tables</h1>

<form action="/products/update/{{data.id}}" method="POST">

	<div class="category">
		<label for="categoryName">Category</label>

		<select class="text" name="category_id">
			{{#categories}}
				<option {{selected}} value="{{id}}">{{categoryName}}</option>
			{{/categories}}
		</select>
	</div>
	<div class="product">
		<label for="products">Product</label>
		<input type="text" name="product" value="{{data.product}}">
	</div>
	<input type="submit">
</form>
