<div class="caption">Nelisa sales reports for {{weekName}}</div>
{{#week}}
    <div class="row-fluid">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span class="cell primary">Description</span></th>
                            <th><span class="cell">Name</span></th>
                            <th><span class="cell">Quantity</span></th>
                        </tr>
                        <thead>
                            <tbody>
                                <tr>
                                    <td><span class="cell primary" data-label="Description">Most popular product sold</span></td>
                                    <td><span class="cell" data-label="Name">{{mostProduct.item}}</span></td>
                                    <td><span class="cell" data-label="Quantity or Cost">{{mostProduct.qty}}</span></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td><span class="cell primary" data-label="Description">Least popular product sold</span></td>
                                    <td><span class="cell" data-label="Name">{{leastProduct.item}}</span></td>
                                    <td><span class="cell" data-label="Quantity or Cost">{{leastProduct.qty}}</span></td>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td><span class="cell primary" data-label="Description">Most popular category sold</span></td>
                                    <td><span class="cell" data-label="Name">{{popularSalesProduct.item}}</span></td>
                                    <td><span class="cell" data-label="Quantity or Cost">{{popularSalesProduct.qty}}</span></td>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td><span class="cell primary" data-label="Description">Least popular category sold</span></td>
                                    <td><span class="cell" data-label="Name">{{unpopularSalesCategory.item}}</span></td>
                                    <td><span class="cell" data-label="Quantity or Cost">{{unpopularSalesCategory.qty}}</span></td>
                            </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><span class="cell primary">Description</span></th>
                                <th><span class="cell">Name</span></th>
                                <th><span class="cell">Cost</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="cell primary" data-label="Description">The most profitable product</span></td>
                                <td><span class="cell" data-label="Name">{{profitableProduct.Item}}</span></td>
                                <td><span class="cell" data-label="Quantity or Cost">R{{profitableProduct.cost}}</span></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td><span class="cell primary" data-label="Description">The most popular category </span></td>
                                <td><span class="cell" data-label="Name">{{profitableCategory.Item}}</span></td>
                                <td><span class="cell" data-label="Quantity or Cost">R{{profitableCategory.cost}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{{/week}}
