<div class="table-responsive">
  <h1>Purchases</h1>
    <h3><a href="/purchases/add">Add</a></h3>
    <table class="table table-bordered myTable">
        <thead>
            <tr>
                <th>Products</th>
                <th>Suppliers</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
            <thead>
                {{#purchases}}
                    <tbody>
                        <tr>
                            <td>{{product}}</td>
                            <td>{{shop}}</td>
                            <td>{{quantity}}</td>
                            <td>{{price}}</td>
                            <td>{{date}}</td>
                            <td><a href="/purchases/edit/{{purchases_id}}">Edit</a></td>
                            <td><a href="/purchases/delete/{{purchases_id}}">Delete</a></td>
                        </tr>
                    </tbody>
                {{/purchases}}
    </table>
</div>
