<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h1 class="section-heading">Purchases</h1>
                {{#admin}}
                <h3><a href="/purchases/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> a new Purchase</a></h3>
                {{/admin}}
                <form>
                    <input class="search" type="text" name="value" placeholder="search"/>
                </form>
        </div>
    </div>
</div>
<table>
  <thead class="header-row">
    <tr>
      <th>Product</th>
      <th>Shop</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Date</th>
      {{#admin}}
      <th>Edit item</th>
      <th>Delete item</th>
      {{/admin}}
    </tr>
  </thead>
  <tbody>
    {{#purchases}}
        <tr>
            <td data-label="Product">{{product}}</td>
            <td data-label="Shop">{{shop}}</td>
            <td data-label="Product">{{quantity}}</td>
            <td data-label="Price">{{price}}</td>
            <td data-label="Date">{{date}}</td>
            {{#if../admin}}
            <td data-label="Edit item"><a href="/purchases/edit/{{purchases_id}}"><span class="glyphicon glyphicon-edit"></a></td>
            <td data-label="Delete item"><a href="/purchases/delete/{{purchases_id}}"><span class="glyphicon glyphicon-trash"></a></td>
            {{/if}}
        </tr>
    {{/purchases}}
  </tbody>
</table>
