<h1>Purchases</h1>
<h3><a href="/purchases/add">Add a new purchases</a></h3>

<div id="table">
    <div class="header-row row">
        <span class="cell">Product</span>
        <span class="cell">Suppliers</span>
        <span class="cell">Quantity</span>
        <span class="cell">Price</span>
        <span class="cell">Date</span>
        <span class="cell"></span>
        <span class="cell"></span>
    </div>
    {{#purchases}}
        <div class="row">
            <span class="cell">{{product}}</span>
            <span class="cell">{{shop}}</span>
            <span class="cell">{{quantity}}</span>
            <span class="cell">{{price}}</span>
            <span class="cell">{{date}}</span>
            <span class="cell"><a href="/purchases/edit/{{purchases_id}}">Edit</a></span>
            <span class="cell"><a href="/purchases/delete/{{purchases_id}}">Delete</a></span>
        </div>
    {{/purchases}}

</div>
