<h1>Purchases</h1>
<div class="table-responsive">
    <table class="table table-bordered myTable">
      <tr>
          <th>Id</th>
          <th>Products_id</th>
          <th>Suppliers_id</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Date</th>
      </tr>
        {{#purchases}}
            <tbody>
                <tr>
                    <td>{{id}}</td>
                    <td>{{products_id}}</td>
                    <td>{{suppliers_id}}</td>
                    <td>{{quantity}}</td>
                    <td>R{{price}}</td>
                    <td>{{date}}</td>
                </tr>
            </tbody>
            {{/purchases}}
    </table>
</div>
