<h1>Purchases</h1>
<h3><a href="/purchases/add">Add a new purchases</a></h3>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Shop</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Date</th>
        <th>Eidt item</th>
        <th>Delete item</th>
    </tr>
    {{#purchases}}
        <tr>
            <td data-th="Product">{{product}}</td>
            <td data-th="Shop">{{shop}}</td>
            <td data-th="Product">{{quantity}}</td>
            <td data-th="Price">{{price}}</td>
            <td data-th="Date">{{date}}</td>
            <td data-th="Edit item"><a href="/purchases/edit/{{purchases_id}}">Edit</a></td>
            <td data-th="Delete item"><a href="/purchases/delete/{{purchases_id}}">Delete</a></td>
        </tr>
    {{/purchases}}
</table>
