<h1>Sales</h1>
{{#admin}}
<h3><a href="/sales/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>a new Sale</a></h3>
{{/admin}}
<form action="/sales/search" method="post">
    <input type="text" name="value"/>
    <input type="submit" value="search"/>
</form>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Date</th>
      {{#admin}}
      <th>Edit item</th>
      <th>Delete item</th>
      {{/admin}}
    </tr>
  </thead>
  <tbody>
    {{#sales}}
        <tr>
            <td data-label="Product">{{product}}</td>
            <td data-label="Product">{{quantity}}</td>
            <td data-label="Price">{{price}}</td>
            <td data-label="Date">{{date}}</td>
            {{#if../admin}}
            <td data-label="Edit item"><a href="/sales/edit/{{sales_id}}">Edit</a></td>
            <td data-label="Delete item"><a href="/sales/delete/{{sales_id}}">Delete</a></td>
            {{/if}}
        </tr>
    {{/sales}}
  </tbody>
</table>
