<div class="table-responsive">
    <h1>Sales</h1>
    <h3><a href="/sales/add">Add</a></h3>
    <table class="table table-bordered myTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Product</th>
            </tr>
        </thead>
        {{#sales}}
            <tbody>
                <tr>
                    <td>{{date}}</td>
                    <td>{{quantity}}</td>
                    <td>R{{price}}</td>
                    <td>{{product}}</td>
                    <td><a href="/sales/edit/{{sales_id}}">Edit</a></td>
                    <td><a href="/sales/delete/{{sales_id}}">Delete</a></td>
                </tr>
            </tbody>
        {{/sales}}
    </table>
</div>
