<h1>Sales</h1>
<h3><a href="/sales/add">Add</a></h3>
<table class="table">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Date</th>
        <th>Eidt item</th>
        <th>Delete item</th>
    </tr>
    {{#sales}}
        <tr>
            <td data-th="Product">{{product}}</td>
            <td data-th="Product">{{quantity}}</td>
            <td data-th="Price">{{price}}</td>
            <td data-th="Date">{{date}}</td>
            <td data-th="Edit item"><a href="/sales/edit/{{sales_id}}">Edit</a></td>
            <td data-th="Delete item"><a href="/sales/delete/{{sales_id}}">Delete</a></td>
        </tr>
    {{/sales}}
</table>
