<h1>Sales</h1>
<h3><a href="/sales/add">Add</a></h3>
<div id="table">
    <div class="header-row row">
        <span class="cell">Date</span>
        <span class="cell">Quantity</span>
        <span class="cell">Price</span>
        <span class="cell">Product</span>
        <span class="cell"></span>
        <span class="cell"></span>
    </div>
    {{#sales}}
        <div class="row">
            <span class="cell">{{date}}</span>
            <span class="cell">{{quantity}}</span>
            <span class="cell">R{{price}}</span>
            <span class="cell">{{product}}</span>
            <span class="cell"><a href="/sales/edit/{{sales_id}}">Edit</a></span>
            <span class="cell"><a href="/sales/delete/{{sales_id}}">Delete</a></span>
        </div>
    {{/sales}}

</div>
