<h1>Users</h1>
{{#admin}}
<h3><a href="/users/add">Add a new users</a></h3>
{{/admin}}
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Roles</th>
    </tr>
  </thead>
  <tbody>
    {{#users}}
        <tr>
            <td data-label="Username">{{username}}</td>
            <td data-label="Email">{{email}}</td>
            <td data-label="Roles">{{admin}}</td>
            {{#if../admin}}
            <td data-label="Edit item"><a href="/users/edit/{{id}}">Edit</a></td>
            <td data-label="Edit delete"><a href="/users/delete/{{id}}">Delete</a></td>
            {{/if}}
        </tr>
    {{/users}}
</table>
