<h1>Users</h1>
<h3><a href="/users/add">Add a new users</a></h3>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    {{#users}}
        <tr>
            <td data-th="Username">{{username}}</td>
            <td data-th="Email">{{email}}</td>
            <td data-th="Roles">{{admin}}</td>
            <td data-th="Edit item"><a href="/users/edit/{{id}}">Edit</a></td>
            <td data-th="Edit delete"><a href="/users/delete/{{id}}">Delete</a></td>
        </tr>
    {{/users}}
</table>
