<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h1 class="section-heading">Users</h1>
                {{#admin}}
                    <h3><a href="/users/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> a new User</a></h3>
                {{/admin}}
                <!-- <form>
                    <input class="search" type="text" name="value" placeholder="search" />
                </form> -->
            </div>
        </div>
    </div>
</div>
<table>
    <thead class="header-row">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            {{#admin}}
                <th>Edit item</th>
                <th>Delete item</th>
            {{/admin}}
        </tr>
    </thead>
    <tbody>
        {{#users}}
            <tr>
                <td data-label="Username">{{username}}</td>
                <td data-label="Email">{{email}}</td>
                <td data-label="Roles">{{admin}}</td>
                {{#if../admin}}
                    <td data-label="Edit item"><a href="/users/edit/{{id}}"><span class="glyphicon glyphicon-edit"></a></td>
                    <td data-label="Edit delete"><a href="/users/delete/{{id}}"><span class="glyphicon glyphicon-trash"></a></td>
                    {{/if}}
            </tr>
        {{/users}}
</table>
