<div class="table-responsive">
    <h2>Nelisa sales reports for {{weekName}}</h2>
    <table class="table table-bordered myTable">
        {{#week}}
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Most popular product sold</td>
                    <td>{{mostProduct.item}}</td>
                    <td>{{mostProduct.qty}}</td>
                </tr>
                <tr>
                    <td>Least popular product sold</td>
                    <td>{{leastProduct.item}}</td>
                    <td>{{leastProduct.qty}}</td>
                </tr>
                <tr>
                    <td>Most popular category sold</td>
                    <td>{{popularSalesProduct.item}}</td>
                    <td>{{popularSalesProduct.qty}}</td>
                </tr>
                <tr>
                    <td>Least popular category sold</td>
                    <td>{{unpopularSalesCategory.item}}</td>
                    <td>{{unpopularSalesCategory.qty}}</td>
                </tr>
            </tbody>
        {{/week}}
    </table>
</div>


<div class="table-responsive">
    <h2>Profit for {{weekName}}</h2>
    <table class="table table-bordered myTable">
        {{#week}}
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Name</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>The most profitable product</td>
                    <td>{{profitableProduct.Item}}</td>
                    <td>R{{profitableProduct.cost}}</td>
                </tr>
                <tr>
                    <td>The most popular category</td>
                    <td>{{profitableProduct.Item}}</td>
                    <td>R{{profitableCategory.cost}}</td>
                </tr>
            </tbody>
        {{/week}}
    </table>
</div>
