<h1>Nelisa sales reports for {{weekName}}</h1>
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
    </thead>
    </tbody>
    {{#week}}
        <tr>
            <td data-label="Description">Most popular product sold</td>
            <td data-label="Product">{{mostProduct.item}}</td>
            <td data-label="Quantity">{{mostProduct.qty}}</td>
        </tr>
        <tr>
            <td data-label="Description">Least popular product sold</td>
            <td data-label="Product">{{leastProduct.item}}</td>
            <td data-label="Quantity">{{leastProduct.qty}}</td>
        </tr>
        <tr>
            <td data-label="Description">Most popular category sold</td>
            <td data-label="Product">{{popularSalesProduct.item}}</td>
            <td data-label="Quantity">{{popularSalesProduct.qty}}</td>
        </tr>
        <tr>
            <td data-label="Description">Least popular category sold</td>
            <td data-label="Product">{{unpopularSalesCategory.item}}</td>
            <td data-label="Quantity">{{unpopularSalesCategory.qty}}</td>
        </tr>
    {{/week}}
    </tbody>
</table>
<br>


<h1>Profit for {{weekName}}</h1>
<table>
  <thead>
    <tr>
        <th>Description</th>
        <th>Product</th>
        <th>Profit</th>
    </tr>
  </thead>
  <tbody>
    {{#week}}
        <tr>
            <td data-label="Description">The most profitable product</td>
            <td data-label="Product">{{profitableProduct.Item}}</td>
            <td data-label="Quantity">R{{profitableProduct.cost}}</td>
        </tr>
        <tr>
            <td data-label="Description">The most popular category</td>
            <td data-label="Product">{{profitableProduct.Item}}</td>
            <td data-label="Quantity">R{{profitableCategory.cost}}</td>
        </tr>
    {{/week}}
  </tbody>
</table>
