<h1>Nelisa sales reports for {{weekName}}</h1>
<table class="table">
    <tr>
        <th>Description</th>
        <th>Product</th>
        <th>Quantity</th>
    </tr>
    {{#week}}
        <tr>
            <td data-th="Description">Most popular product sold</td>
            <td data-th="Product">{{mostProduct.item}}</td>
            <td data-th="Quantity">{{mostProduct.qty}}</td>
        </tr>
        <tr>
            <td data-th="Description">Least popular product sold</td>
            <td data-th="Product">{{leastProduct.item}}</td>
            <td data-th="Quantity">{{leastProduct.qty}}</td>
        </tr>
        <tr>
            <td data-th="Description">Most popular category sold</td>
            <td data-th="Product">{{popularSalesProduct.item}}</td>
            <td data-th="Quantity">{{popularSalesProduct.qty}}</td>
        </tr>
        <tr>
            <td data-th="Description">Least popular category sold</td>
            <td data-th="Product">{{unpopularSalesCategory.item}}</td>
            <td data-th="Quantity">{{unpopularSalesCategory.qty}}</td>
        </tr>
    {{/week}}
</table>
<br>

<h1>Profit for {{weekName}}</h1>
<table class="table">
    <tr>
        <th>Description</th>
        <th>Product</th>
        <th>Profit</th>
    </tr>
    {{#week}}
        <tr>
            <td data-th="Description">The most profitable product</td>
            <td data-th="Product">{{profitableProduct.Item}}</td>
            <td data-th="Quantity">R{{profitableProduct.cost}}</td>
        </tr>
        <tr>
            <td data-th="Description">The most popular category</td>
            <td data-th="Product">{{profitableProduct.Item}}</td>
            <td data-th="Quantity">R{{profitableCategory.cost}}</td>
        </tr>
    {{/week}}
</table>
